
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	user-select: none;

}
:root{
	--font1:'Marck Script', cursive;
	--font2:'Parisienne', cursive;
	--font3:'Sacramento', cursive;
	--font4:'Satisfy', cursive;
	--font5:'Tangerine', cursive;
	--font6:'Yellowtail', cursive;

}
html{
	scroll-behavior: smooth;
	overflow-y: hidden;
}
html,
body {
	position: relative;
    height: 100%;
}

body {
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: "Balsamiq Sans", cursive;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;

}
header{
	position: fixed;
	z-index: 10;
	display: flex;
	width: 100%;
	padding-top:-30px;
}
header p{
	font-size: 25px;
	margin-left: 30px;
	color: white;
}
header ul{
	display: flex;
	margin-left: auto;
  	order: 2;
  	margin-right: 30px;
  	justify-content: center;
  	align-items: center;
}
header ul li{
	list-style-type: none;
}
header a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.contactsociallinks {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 3rem;
  padding-top: 200px;
}
.contactsociallinks ul {
  display: flex;
}
.contactsociallinks li {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3rem;
  width: 2.2rem;
  list-style-type: none;
}
.contactsociallinks a{

}
.contactsociallinks img {
  height: 2rem;
  transition: 0.5s;
}
.contactsociallinks img:hover {
  height: 2.3rem;
  opacity: 0.5;
}
.contctnumber {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--color2);
  margin-top: 2rem;
}
.contactthanks {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--color1);
  margin-top: 5rem;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 860px) {
header{
	padding-top: 10px;
}
header p{
	font-size: 20px;
	margin-left: 30px;
	color: white;
}
header ul{
	display: flex;
	margin-left: auto;
  	order: 2;
  	margin-right: 10px;
  	justify-content: center;
  	align-items: center;
}
header ul li{
	list-style-type: none;
}
header a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

}
